<style>
.article-unit {
  overflow:hidden;
  margin-bottom:-1px;
  padding:15px 25px;
  border:1px solid #ddd;
  border-width:1px 0;
}
.article-unit figure {
  float:left;
  margin-right:15px;
}
.article-unit figure img {
  width:100px;
  height:60px;
  border:1px solid #eee;
  object-fit:cover;
}
.article-unit h3 {
  color:#000;
  font-size:14px;
}
.article-unit p {
  overflow:hidden;
  margin:3px 0 0;
  font-size:12px;
}
</style>

<div id="articles">
  <img src="/assets/icon-loading.svg" alt="로딩중" width="40" height="40" style="display:block; margin:50px auto">
</div>

<script>
var category = '{{ include.category }}';
app.content.getByField({
  schemaKey: 'articles',
  field: 'category',
  value: category,
  orderByChild: 'created',
  populate: true
}).then(function (data) {
  // 순서 조정
  var unorderedData = [];
  var orderedData = [];
  Object.keys(data).forEach(function (key) {
    unorderedData.push(data[key]);
  });
  orderedData = unorderedData.sort(function (a, b) {
    return new Date(b.created) - new Date(a.created);
  });
  // 데이터 삽입
  $('#articles').empty();
  orderedData.forEach(function (article) {
    var id = article.id;
    var thumbnail = (article.thumbnail && article.thumbnail[0] ? article.thumbnail[0].url : 'https://via.placeholder.com/300x180');
    var title = article.title;
    // var content = article.content.substring(0, 35) + (article.content.length > 35 ?  '...' : '');
    var markupSrc = [
      '<div class="article-unit" onclick="location.href = \'/articles?id=' + id + '\'">',
        '<figure>',
          '<img src="' + thumbnail + '" alt="">',
        '</figure>',
        '<h3>' + title + '</h3>',
        // '<p>' + content + '</p>',
      '</div>'
    ];
    $('#articles').append(markupSrc.join(''));
  });
});
</script>