<style>
.article-unit {
  overflow:hidden;
  margin-bottom:-1px;
  padding:0 25px 0 0;
  border:1px solid #ddd;
  border-width:1px 0;
  cursor:pointer;
}
@media (min-width:920px) {
  .article-unit {
    border-width:1px;
  }
  .article-unit:first-child {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
  }
  .article-unit:last-child {
    margin-bottom:50px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
  }
}
.article-unit figure {
  float:left;
  margin-right:15px;
}
.article-unit figure img {
  width:120px;
  height:90px;
  object-fit:cover;
}
.article-unit h3 {
  overflow:hidden;
  max-height:48px;
  line-height:24px;
  margin-top:10px;
  color:#000;
  font-size:16px;
  display:-webkit-box;
  text-overflow:ellipsis;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
}
.article-unit time {
  display:block;
  margin-top:5px;
  color:#999;
  font-size:12px;
}
</style>

<div id="articles">
  <img src="/assets/icon-loading.svg" alt="로딩중" width="40" height="40" style="display:block; margin:50px auto">
</div>

<script>
var category = '{{ include.category }}';
app.content.getByField({
  schemaKey: 'articles',
  field: 'category',
  value: category,
  populate: true
}).then(function (data) {
  // 순서 조정
  var unorderedData = [];
  var orderedData = [];
  Object.keys(data).forEach(function (key) {
    unorderedData.push(data[key]);
  });
  orderedData = unorderedData.sort(function (a, b) {
    return new Date(b.created) - new Date(a.created);
  });
  // 데이터 삽입
  $('#articles').empty();
  orderedData.forEach(function (article) {
    var id = article.id;
    var thumbnailId = (article.thumbnail && article.thumbnail[0] ? article.thumbnail[0].id : '');
    var title = article.title;
    var created = article.created;
    var markupSrc = [
      '<div class="article-unit" onclick="location.href = \'/articles?id=' + id + '\'">',
        '<figure>',
          '<img id="' + thumbnailId + '" src="https://via.placeholder.com/300x180?text=..." alt="">',
        '</figure>',
        '<h3>' + title + '</h3>',
        '<time datetime="' + created + '">' + created + '</time>',
      '</div>'
    ];
    $('#articles').append(markupSrc.join(''));
  });
  // 이미지 삽입
  orderedData.forEach(function (article) {
    var thumbnailId = (article.thumbnail && article.thumbnail[0] ? article.thumbnail[0].id : '');
    app.storage.getURL({
      fileId: thumbnailId
    }).then(function (url) {
      $('#' + thumbnailId).attr('src', url);
    });
  });
});
</script>