<style>
.auth fieldset {
  border:none;
  margin:0;
  padding:0;
}
.auth input[type="text"],
.auth input[type="password"],
.auth input[type="email"],
.auth input[type="tel"] {
  display:block;
  width:100%;
  margin-top:8px;
  padding:8px;
  border:1px solid #e8e8e8;
  background:none;
  box-sizing:border-box;
  -webkit-appearance:none;
}
.auth input[type="text"]:fist-child {
  margin-top:0;
}
.auth p {
  margin:15px 0;
}
.auth .buttons {
  margin-top:15px;
}
.auth .buttons button {
  padding:10px 30px;
  border-radius:5px;
  border:1px solid #e8e8e8;
  background-color:#eee;
  font-size:16px;
}
.auth .buttons button:first-child {
  background-color:#fff;
}
</style>

<div class="auth">
  {%- if include.action == 'login' -%}
  <form id="login">
    <fieldset>
      <input type="email" name="email" placeholder="이메일">
      <input type="password" name="password" placeholder="패스워드">
    </fieldset>
    <div class="buttons">
      <button type="submit">로그인</button>
    </div>
    <p><a href="#">비밀번호를 잊어버렸나요?</a> | <a href="/join">회원가입</a></p>
  </form>
  {%- elsif include.action == 'join' -%}
  <form id="join">
    <fieldset>
      <input type="email" name="email" placeholder="이메일을 입력해주세요.">
      <input type="password" name="password" placeholder="패스워드를 입력해주세요.">
      <input type="password" name="password-repeat" placeholder="패스워드를 한 번 더 입력해주세요.">
    </fieldset>
    <div class="buttons">
      <button type="submit">회원가입</button>
    </div>
  </form>
  {%- endif -%}
</div>

<script>
$('form').on('submit', function (event) {
  event.preventDefault();
  var $form = $(this);
  var $submitButton = $form.find('[type="submit"]');
  var formAction = $form.attr('id');
  var email = $form.find('[name="email"]').val();
  var password = $form.find('[name="password"]').val();
  var passwordRepeat = $form.find('[name="password-repeat"]').val();
  // Validation
  if (email.length < 4) {
    alert('이메일 주소를 올바르게 입력해주세요.');
    return false;
  }
  if (password.length < 4) {
    alert('패스워드를 올바르게 입력해주세요.');
    return false;
  }
  if (formAction === 'join') {
    if (passwordRepeat && (password !== passwordRepeat)) {
      alert('패스워드 확인이 일치하지 않습니다.');
      return false;
    }
  }
  switch (formAction) {
    case 'login':
      tryLogin(email, password, function (response) {
        var refer = location.href.split('refer=')[1];
        // 로그인 전 refer 주소가 있다면 리다이렉트
        if (refer && refer.length) {
          location.href = refer;
        } else {
          location.href = '/';
        }
      }, function (error) {
        $submitButton.prop('disabled', false);
      });
      break;
    case 'join':
      tryJoin(email, password, function (response) {
        alert('회원가입을 완료하였습니다.');
        location.href = '/login';
      }, function (error) {
        $submitButton.prop('disabled', false);
      });
      break;
  }
  $submitButton.prop('disabled', true);
});

function tryLogin (email, password, successCallback, failCallback) {
  firebase.auth().signInWithEmailAndPassword(email, password)
    .then(function (response) {
      firebase.auth().onAuthStateChanged(function (user) {
        console.log(user);
      });
      successCallback(response);
    })
    .catch(function (error) {
      var errorCode = error.code;
      var errorMessage = error.message;
      if (errorCode === 'auth/user-not-found') {
        if (confirm('계정이 존재하지 않습니다.\n회원가입으로 이동하시겠습니까?')) {
          location.href = '/join';
        }
      } else if (errorCode === 'auth/wrong-password') {
        alert('비밀번호가 틀렸습니다.');
      } else {
        alert(errorMessage);
      }
      failCallback(error);
    });
}

function tryJoin (email, password, successCallback, failCallback) {
  firebase.auth().createUserWithEmailAndPassword(email, password)
    .then(function (response) {
      successCallback(response);
    })
    .catch(function (error) {
      var errorCode = error.code;
      var errorMessage = error.message;
      if (errorCode == 'auth/weak-password') {
        alert('비밀번호가 너무 간단합니다.');
      } else {
        alert(errorMessage);
      }
      failCallback(error);
    });
}
</script>
