<style>
.callme-popover {
  z-index:1000;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  box-shadow:0 -10px 20px 0 rgba(0,0,0,0.2);
}
.callme-popover .btn-close {
  position:absolute;
  top:0;
  right:0;
  width:60px;
  height:60px;
  border:none;
  background:none;
}
</style>
<div class="callme-popover" style="display:none;">
  {%- include callme.html -%}
  <button class="btn-close" type="button" onclick="toggleCallmePopover()">
    <img src="/assets/icon-toggle-down-white.svg" alt="닫기">
  </button>
</div>
<script>
function toggleCallmePopover() {
  var $callmePopover = $('.callme-popover');
  if ($callmePopover.is(':visible')) {
    $callmePopover.slideUp();
  } else {
    $callmePopover.slideDown();
  }
}
</script>
