<style>
.call-to-action {
  margin:25px;
}
.call-to-action a,
.call-to-action button {
  display:block;
  width:100%;
  height:50px;
  border:2px solid #f4512c;
  background-color:#fff;
  box-sizing:border-box;
  color:#f4512c;
  font-size:14px;
  letter-spacing:-1.4px;
  text-decoration:none;
  text-align:center;
}
.call-to-action a {
  line-height:48px;
}
.call-to-action a + a,
.call-to-action a + button,
.call-to-action button + a,
.call-to-action button + button {
  margin-top:8px;
}
.call-to-action strong {
  zoom:1;
  display:inline-block;
  position:relative;
}
.call-to-action strong:before {
  content:"";
  display:block;
  position:absolute;
  top:50%;
  left:100%;
  width:35px;
  height:2px;
  margin-top:-1px;
  margin-left:8px;
  background-color:#f4512c;
}
.call-to-action strong:after {
  content:"";
  display:block;
  position:absolute;
  top:50%;
  left:100%;
  width:10px;
  height:2px;
  margin-top:-1px;
  margin-left:32px;
  background-color:#f4512c;
  transform:rotate(30deg);
  transform-origin:100% 100%;
}
.call-to-action img {
  margin-left:5px;
  vertical-align:-9px;
}
</style>

