{% if include.item == "organic-acid" %}
  <p>약 70가지 검사 항목을 통해 우리가 먹은 음식을 몸에서 쓰는 에너지로 바꾸고 그 에너지를 이용하여 몸의 각 부분이 제 기능을 하는 과정에서 생기는 물질들을 측정하는 검사입니다. 
  이를 분석해보면 어떤 영양분이 결핍되어 있는지, 유해물질이나 체내 독소 생성 여부, 항산화능력, 신경 내분비 물질 균형, 장내 미생물 불균형을 알 수 있습니다. 이를 통해 만성 질환이나 난치병 환자의 건강을 총체적으로 파악하고, 이를 반영해 식단 관리를 하게 됩니다.
    <br><br>*본 검사는 한의학적 치료 경과를 살피고 보다 나은 치료법을 찾기 위한 검사입니다.<br>
  </p>
  <div class="content-definition">
    <h3>추천 상황</h3>
    <p>좋지 못한 식습관, 소화 흡수 이상이 보이는 경우, 장내 유해균이 염려될 때, 지속되는 컨디션 저하, 계속되는 피로, 신경 예민이나 불안, 우울 등</p>
  </div>
{% endif %}
{% if include.item == "bia" %}
  <p>한의학에서는 체성분 분석검사라고도 불리우는 BIA 검사는 특히 세포 기능도를 측정해 건강상태와 질환 예후를 과학적으로 측정할 수 있습니다. 이를 통해 우리 몸이 건강하고 세포들이 일을 잘하고 있는지, 아닌지를 과학적으로 확인할 수 있습니다.</p>
  <p>미국 FDA 승인을 받았을 뿐 아니라 미국에서는 특히 BIA 검사의 주요 측정지수인 Phase angle(위상각)을 활용한 난치병 진단과 치료에 대한 연구가 활발히 이루어지고 있습니다. 다수의 임상연구와 논문을 통해 BIA 검사의 Phase angle 지수는 암, 간질환, 류마티스, 자가면역, 심장질환, 수술후 등 중대한 질환의 사망률과 예후를 판정해주는 ‘예후 마커’로 입증되었습니다.<br><br>*본 검사는 한의학적 치료 경과를 살피고 보다 나은 치료법을 찾기 위한 검사입니다.<br></p>
  <div class="content-definition">
    <h3>추천 상황</h3>
    <p>만성 질환이 있을 경우, 컨디션 저하가 느껴질 때, <br>몸이 느리게 회복할 때 등</p>
  </div>
{% endif %}
{% if include.item == "microbe" %}
  <p>장내에 유해균이 많은지, 유익균이 많은지 단순히 살펴볼 뿐만 아니라 어떤 종류의 균이 몇%를 차지하고 있는지 정확하게 파악하여 이와 관련된 증상, 질환과의 연관성을 찾아냅니다. 간단하게 유익균 / 유해균 정도만 훑어보는 수준이 아닌 어떤 종류의 유산균이 얼마나 잘 자리잡았는 지를 볼 수 있어 유산균 제제나 유해균 억제 한약을 정확하게 투여할 수 있게 도와줍니다.<br><br>*본 검사는 한의학적 치료 경과를 살피고 보다 나은 치료법을 찾기 위한 검사입니다.<br></p>
  <div class="content-definition">
    <h3>추천 상황</h3>
    <p>소화 불량, 장내 가스 문제, 잦은 설사, 변비, 집중력 저하, 잔병치레, 두통, 지속되는 피로감 등</p>
  </div>
{% endif %}
{% if include.item == "hair-tissue-mineral" %}
  <p>우리 몸에 필요한 미네랄 양과 해로운 중금속 축적양을 측정해 치료에 반영합니다.</p>
  <p>철분, 칼슘, 마그네슘, 셀레늄 등 우리 몸에 필요한 미네랄들이 얼마나 있고 납, 카드뮴, 수은과 같이 몸에 있으면 안될 중금속들은 얼마나 있는지 측정하는 검사입니다.</p>
  <p>이런 무기물들을 정확히 측정하기 위해서는 머리카락을 채취해서 분석하게 됩니다. 이 검사를 통해 필요한 미네랄은 한약과 식이를 통해 보충하고 넘치는 중금속은 배출하는 방식의 치료를 할 수 있습니다.<br><br>*본 검사는 한의학적 치료 경과를 살피고 보다 나은 치료법을 찾기 위한 검사입니다.<br></p>
  <div class="content-definition">
    <h3>추천 상황</h3>
    <p>만성 스트레스, 두드러기, 신경성 위장질환, 원인을 알 수 없는 피부질환, 알수없는 긴장감, 환경오염이 심한 곳에 거주 등</p>
  </div>
{% endif %}
{% if include.item == "hrv" %}
  <p>HRV(심박변이도) 검사는 심장박동 변화 체크를 통해 만성피로, 만성스트레스와 관련된 신경계통의 피로도를 예측하고 평가할 수 있습니다. 거의 모든 질환에서 HRV 관계에 대한 연구들이 보고되고 있으며 심장을 지배하는 교감신경과 부교감 신경의 활동을 양적으로 평가하고 자율신경계 균형을 정량화할 수 있는 유용한 방법으로 인정받고 있습니다.<br><br>*본 검사는 한의학적 치료 경과를 살피고 보다 나은 치료법을 찾기 위한 검사입니다.<br></p>
  <div class="content-definition">
    <h3>추천 상황</h3>
    <p>만성 스트레스, 피로감, 두통, 양극성 장애, 우울, 불안, 불면증, 고혈압, 과호흡, 신경예민 등</p>
  </div>
{% endif %}
{% if include.item == "abdominal-allergy" %}
  <p>음식 알레르기 검사는 IgG의 음식물에 대한 반응을 확인함으로써 알레르기를 유발하는 음식을 찾아내는 검사입니다. 한번에 222종의 음식물에 대한 반응을 확인할 수 있습니다. 내가 좋아하던 음식, 자주먹던 음식도 알레르기 반응을 일으키는 경우가 종종 있기에 단순히 먹어서 찾는 것보다는 훨씬 정확한 결과를 알 수 있습니다.<br><br>*본 검사는 한의학적 치료 경과를 살피고 보다 나은 치료법을 찾기 위한 검사입니다.<br></p>
  <div class="content-definition">
    <h3>추천 상황</h3>
    <p>특정 음식먹고 탈이 잘 나는경우, 식사만 하면 속이 안좋은 경우, 피부질환을 동반하는 경우, 두통, 집중력 저하, 다른 알레르기 질환이 있는 경우 등</p>
  </div>
{% endif %}
{% if include.item == "learning-ability" %}
  <p>간단한 문제를 풀며 뇌파 측정을 통해 인지 강도, 인지 속도, 집중력, 작업 부하도 등 원천적인 뇌정보처리능력을 판단합니다. 검사를 통해 집중력, 긴장과 이완 등 학습 능력과 관련된 정보를 확인할 수 있으며, 학습 능력을 높이는 다양한 치료 이후 다시 체크해봄으로써 실제 학습 능력이 얼마나 향상되었나를 확인해볼 수 있습니다.<br><br>*본 검사는 한의학적 치료 경과를 살피고 보다 나은 치료법을 찾기 위한 검사입니다<br></p>
  <div class="content-definition">
    <h3>추천 상황</h3>
    <p>집중력 저하, 머리가 멍하다, 정서적인 피로 누적, 심한 긴장, 원인을 알 수 없는 성적 하락 등</p>
  </div>
{% endif %}
