{% if include.item == "organic-acid" %}
  <div class="content-casecard" onclick="toggleExamDesc('organic-acid')">
    <figure><img src="/assets/20190617103735.jpg" alt=""></figure>
    <p>내 몸의 영양 상태를 파악하여<br>위 영향을 확인하는 <mark>유기산 검사</mark></p>
  </div>
{% endif %}
{% if include.item == "bia" %}
  <div class="content-casecard" onclick="toggleExamDesc('bia')">
    <figure><img src="https://via.placeholder.com/438x216?text=..." alt=""></figure>
    <p><mark>BIA 검사</mark></p>
  </div>
{% endif %}
{% if include.item == "microbe" %}
  <div class="content-casecard" onclick="toggleExamDesc('microbe')">
    <figure><img src="/assets/20190617105953.jpg" alt=""></figure>
    <p>장속 유익균, 유해균 분포를 파악하는 <mark>장내미생물 검사</mark></p>
  </div>
{% endif %}
{% if include.item == "hair-tissue-mineral" %}
  <div class="content-casecard" onclick="toggleExamDesc('hair-tissue-mineral')">
    <figure><img src="/assets/20190625085033.jpg" alt=""></figure>
    <p>스트레스와 체내 독소를 확인하는 <mark>모발미네랄 검사</mark></p>
  </div>
{% endif %}
{% if include.item == "hrv" %}
  <div class="content-casecard" onclick="toggleExamDesc('hrv')">
    <figure><img src="/assets/20190617105915.jpg" alt=""></figure>
    <p>자율신경계 균형을 파악하여<br>뇌 영향을 확인하는 <mark>HRV 검사</mark></p>
  </div>
{% endif %}
{% if include.item == "abdominal-allergy" %}
  <div class="content-casecard" onclick="toggleExamDesc('abdominal-allergy')">
    <figure><img src="/assets/20190617105946.jpg" alt=""></figure>
    <p>몸에서 안받는 음식을 파악하는 <mark>알레르기 검사</mark></p>
  </div>
{% endif %}
{% if include.item == "learning-ability" %}
  <div class="content-casecard" onclick="toggleExamDesc('learning-ability')">
    <figure><img src="https://via.placeholder.com/438x216?text=..." alt=""></figure>
    <p><mark>학습능력평가</mark></p>
  </div>
{% endif %}

<div id="{{ include.item }}" style="display:none; margin:25px 25px 50px">
  {%- include examination-contents.html item=include.item -%}
</div>

<script>
function toggleExamDesc(examName) {
  var examBox = $('#' + examName);
  if (examBox.is(':visible')) {
    examBox.slideUp();
  } else {
    examBox.slideDown();
  }
  
}
</script>
