<style>
.featured-links {
  background-color:#313643;
  font-size:0;
  text-align:center;
  white-space:nowrap;
}
.featured-links ul {
  width:auto;
  margin:0 auto;
}
.featured-links li {
  zoom:1;
  display:inline-block;
  position:relative;
  width:20%;
  vertical-align:middle;
}
.featured-links li:before {
  content:"";
  display:block;
  position:absolute;
  top:20px;
  left:0;
  bottom:20px;
  width:1px;
  background-color:rgba(216, 216, 216, 0.2);
}
.featured-links li:first-child:before {
  display:none;
}
.featured-links li a {
  display:block;
  padding:12px 0;
  color:#fff;
}
.featured-links li img {
  display:block;
  margin:0 auto 7px;
}
.featured-links li span {
  display:block;
  opacity:0.7;
  font-size:12px;
  font-weight:500;
  line-height:125%;
  letter-spacing:-0.8px;
}
@media (min-width:801px) {
  .featured-links ul {
    max-width:1280px;
  }
  .featured-links li:hover:after {
    content:"";
    zoom:1;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:5px;
    background-color:#f4512c;
  }
  .featured-links li a {
    padding:20px 0;
  }
  .featured-links li img {
    width:40px;
    height:40px;
    margin-bottom:10px;
  }
  .featured-links li span {
    font-size:15px;
    white-space:nowrap;
    word-break:keep-all;
  }
  .featured-links li span br {
    display:none;
  }
}
</style>
<div class="featured-links">
  <ul>
  <li>
    <a href="/irritable-bowel-syndrome/gas">
      <img src="/assets/icon-featured-1.svg" alt="">
      <span>과민성<br>대장증후군</span>
    </a>
  </li>
  <li>
    <a href="/adolescence/physical">
      <img src="/assets/icon-featured-2.svg" alt="">
      <span>청소년 클리닉</span>
    </a>
  </li>
  <li>
    <a href="/digestive-organ/gastritis">
      <img src="/assets/icon-featured-3.svg" alt="">
      <span>소화기 클리닉</span>
    </a>
  </li>
  <li>
    <a href="/examinations/organic-acid">
      <img src="/assets/icon-featured-4.svg" alt="">
      <span>검사안내</span>
    </a>
  </li>
  <li>
    <a href="/about/services">
      <img src="/assets/icon-featured-5.svg" alt="">
      <span>진료안내</span>
    </a>
  </li>
  </ul>
</div>
