<!-- The core Firebase JS SDK is always required and must be listed first -->
<!-- <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-database.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
<script src="https://unpkg.com/flamelink"></script>
<script>
// Firebase configuration
var firebaseConfig = {
  apiKey: "AIzaSyBA_Z9ex-hUQxzif0CxGfWjlEwC_yNOUo8",
  authDomain: "vitahani-d5028.firebaseapp.com",
  databaseURL: "https://vitahani-d5028.firebaseio.com",
  projectId: "vitahani-d5028",
  storageBucket: "vitahani-d5028.appspot.com",
  messagingSenderId: "517624382076",
  appId: "1:517624382076:web:a48e9e2ab82aa9c8"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
</script>