<!-- The core Firebase JS SDK is always required and must be listed first -->
<!-- <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-database.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
<script src="https://cdn.jsdelivr.net/npm/flamelink/flamelink.js"></script>
<script>
// Firebase configuration
var firebaseConfig = {
  apiKey: "AIzaSyBA_Z9ex-hUQxzif0CxGfWjlEwC_yNOUo8",
  authDomain: "vitahani-d5028.firebaseapp.com",
  databaseURL: "https://vitahani-d5028.firebaseio.com",
  projectId: "vitahani-d5028",
  storageBucket: "vitahani-d5028.appspot.com",
  messagingSenderId: "517624382076",
  appId: "1:517624382076:web:a48e9e2ab82aa9c8"
};
// Initialize Firebase
var firebaseApp = firebase.initializeApp(firebaseConfig);
// Initialize Firebase > Firestore
var db = firebase.firestore();
// Initialize Firebase + Flamelink (3rd party)
var app = flamelink({
  firebaseApp: firebaseApp, // required
  dbType: 'cf', // can be either 'rtdb' or 'cf' for Realtime DB or Cloud Firestore,
  // env: 'production', // optional, default shown
  // locale: 'en-US', // optional, default shown
  // precache: true // optional, default shown. Currently it only precaches "schemas" for better performance
});
</script>
