<style>
.site-footer {
  border:none;
  padding:0;
}
.socials {
  padding:15px 0;
  background-color:#313643;
  text-align:center;
}
.socials img {
  width:30px;
  height:30px;
  margin:0 7px;
  vertical-align:middle;
}
.footer-col-wrapper {
  padding:30px 0;
}
</style>

<footer class="site-footer h-card">

  <div class="socials">
    <img src="/assets/icon-facebook.svg" alt="페이스북">
    <img src="/assets/icon-nblog.png" alt="네이버블로그">
    <img src="/assets/icon-npost.png" alt="네이버포스트">
    <img src="/assets/icon-youtube.svg" alt="유튜브">
    <img src="/assets/icon-instagram.png" alt="인스타그램">
  </div>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col one-half">
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="social-links">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>
