<!-- 배너 -->
<style>
.home-banners {
  margin:25px;
}
.home-banners a {
  display:block;
  margin-top:8px;
}
.home-banners a:first-child {
  margin-top:0;
}
.home-banners img {
  display:block;
  width:100%;
}
</style>
<h3 style="text-align:center"><strong>비타민한의원</strong>의 다양한 소식들</h3>
<div id="banners" class="home-banners">
  <img src="/assets/icon-loading.svg" alt="로딩중" width="40" height="40" style="display:block; margin:50px auto">
</div>
<script>
app.content.get({
  schemaKey: 'banners',
  orderByChild: 'created',
  populate: true
}).then(function (data) {
  // 순서 조정
  var unorderedData = [];
  var orderedData = [];
  Object.keys(data).forEach(function (key) {
    unorderedData.push(data[key]);
  });
  orderedData = unorderedData.sort(function (a, b) {
    return a.ordering - b.ordering;
  });
  // 데이터 삽입
  $('#banners').empty();
  orderedData.forEach(function (banner) {
    var image = (banner.image[0] ? banner.image[0].url : null);
    var title = banner.title;
    var url = banner.url;
    var markupSrc = [
      '<a href="' + url +'">',
      '<img src="' + image + '" alt="' + title + '">',
      '</a>'
    ];
    $('#banners').append(markupSrc.join(''));
  });
});
</script>