<!-- Swiper JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

<style>
.swiper-container {
  width:100%;
}
.swiper-slide {
  position:relative;
  height:250px;
  background:#fff;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50% 20%;
  font-size:18px;
  text-align:center;
  cursor:pointer;
}
.swiper-slide.dimmed:before {
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.25);
}
.swiper-slide img {
  display:block;
  width:100%;
}
@media (min-width:801px) {
  .swiper-slide {
    height:425px;
  }
  .swiper-slide img {
    display:none;
  }
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  width:20px;
  height:2px;
  border-radius:0;
  margin:0 3px;
}
.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
}
.slide-message {
  position:absolute;
  top:50%;
  left:0;
  width:100%;
  color:#fff;
  margin:-40px 0 0;
}
.slide-message h2 {
  font-size:12px;
  letter-spacing:-1px;
}
.slide-message h2 strong {
  display:block;
  font-size:40px;
  font-weight:300;
  letter-spacing:-1.5px;
  color:#f4512c;
  text-align:center;
}
.slide-message p {
  font-size:12px;
  letter-spacing:-1px;
}
@media (min-width:801px) {
  .slide-message {
    margin:-100px 0 0;
  }
  .slide-message h2 {
    font-size:24px;
  }
  .slide-message h2 strong {
    font-size:80px;
  }
  .slide-message p {
    margin-top:20px;
    font-size:18px;
  }
}
</style>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide dimmed" style="background-image:url(/assets/painevent.jpg)"
      onclick="location.href = '/articles?id=p8HTB6nwqFhIYcnHaDf5'">
      <div class="slide-message">
        <h2>강남점<strong>통증클리닉 오픈 이벤트!</strong></h2>
        <p>이제 통증질환도 비타민한의원에서 치료받으세요</p>
      </div>
    </div>
    <div class="swiper-slide dimmed" style="background-image:url(/assets/20200420.jpg)"
      onclick="location.href = '/articles?id=1Iq2QfEgl6ukGZobX2vB'">
      <div class="slide-message">
        <h2>가정의날 이벤트<strong>면역력 강화!</strong></h2>
        <p>한시적으로 전화 처방 가능</p>
      </div>
    </div>
  
    <div class="swiper-slide dimmed" style="background-image:url(/assets/img-slide1.jpg)"
      onclick="location.href = '/irritable-bowel-syndrome/gas'">
      <div class="slide-message">
        <h2>비타민한의원의 특별한 <strong>위·대장클리닉</strong></h2>
        <p>한의학, 기능의 학적 접근을 통해   근본적인 원인을 해결합니다</p>
      </div>
    </div>
    <div class="swiper-slide dimmed" style="background-image:url(/assets/img-slide2.jpg)"
      onclick="location.href = '/adolescence/physical'">
      <div class="slide-message">
        <h2>철저한 관리 <strong>수험생 클리닉</strong></h2>
        <p>건강이 곧 성적입니다.</p>
      </div>
    </div>
    
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white" style="background:none">
    <img src="/assets/btn-arrow-right.svg" alt="이전">
  </div>
  <div class="swiper-button-prev swiper-button-white" style="background:none">
    <img src="/assets/btn-arrow-left.svg" alt="다음">
  </div>
</div>
<script>
var swiper = new Swiper('.swiper-container', {
  loop: true,
  autoplay: {
    delay: 2500,
    disableOnInteraction: true,
  },
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
</script>
