<figure style="position:relative; margin:25px">
  <img src="/assets/20190624114918.jpg" alt="">
  <img src="/assets/icon-badge-medicine.svg" alt="" style="position:absolute; right:5px; bottom:-40px">
</figure>
<h3>{{ include.subject }}</h3>
<p>{{ include.content }}</p>
<figure style="position:relative; overflow:hidden; margin:10px 25px">
  <img src="/assets/20190624120114.jpg" alt="" style="float:left; width:49%">
  <img src="/assets/20190624120120.jpg" alt="" style="float:right; width:49%">
</figure>
<p>한약 안전성 걱정하셨나요? 식약처 인증 제약회사에서 가공한 한약재만을 사용하는 것은 기본, 비타민 한의원의 믿을 수 있는 시설에서 조제합니다. 한약재가 약성을 가장 잘 보존할 수 있는 온습도를 24시간 유지하며 정성을 다해 관리하여 가장 좋은 상태의 약재를 제공할 수 있습니다.</p>
