<style>
.sidebar {
  z-index:1000;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color:#313643;
}
.sidebar ul {
  overflow:hidden;
  font-size:0;
  text-align:center;
}
.sidebar li {
  zoom:1;
  display:inline-block;
  position:relative;
  width:25%;
  font-size:14px;
  list-style:none;
  text-align:center;
}
.sidebar li:after {
  content:"";
  display:block;
  position:absolute;
  top:20px;
  right:0;
  width:1px;
  height:30px;
  background-color:rgba(255,255,255,0.2);
}
.sidebar li:last-child:after {
  display:none;
}
.sidebar li a {
  display:block;
  padding:12px 0 8px;
}
.sidebar li img {
  display:block;
  width:30px;
  margin:0 auto 8px;
}
.sidebar li mark {
  opacity:0.7;
  background:none;
  font-size:14px;
  font-weight:500;
  letter-spacing:-1.3px;
  text-align: center;
  color:#fff;
}
</style>
<div class="sidebar">
  <div class="wrapper">
    <ul>
    <li>
      <a href="javascript:void(0)" onclick="toggleCallusPopover()">
        <img src="/assets/icon-callnow.svg">
        <mark>바로 전화하기</mark>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" onclick="toggleCallmePopover()">
        <img src="/assets/icon-posting.svg">
        <mark>상담전화예약</mark>
      </a>
    </li>
    <!--
    <li>
      <a href="#">
        <img src="/assets/icon-article.svg">
        <mark>상담글 남기기</mark>
      </a>
    </li>
    -->
    <li>
      <a href="/about/branches/gangnam">
        <img src="/assets/icon-building.svg">
        <mark>지점안내</mark>
      </a>
    </li>
    </ul>
  </div>
</div>

{%- include callus-popover.html -%}
{%- include callme-popover.html -%}
